<ion-view view-title="Bienvenido" class="home">
    <ion-content has-header="true" padding="true" class="home">
        <div class="row row-center ">
            <div class="col col-center">
                <div class="logo"></div>                
                <h1>AUGC</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div >
                    <p class="event received">Hello compañeros</p>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </ion-content>   
    <ion-footer-bar align-title="left" >
        <div class="button-bar">
            <a class="button icon-left ion-speakerphone button-positive" href="#/app/posts">Comunicados</a>
            <a class="button ion-calculator icon-left">Cuadrante</a>
            <a class="button ion-document-text icon-left">BOCS</a>
        </div> 
    </ion-footer-bar>    
</ion-view>


